asgiref
beautifulsoup4
numpy
Django
djangorestframework
django-allauth
django-cors-headers
dj-rest-auth
django-softdelete
django-role-permissions
djangorestframework-simplejwt
gunicorn
instagrapi
Pillow
pre-commit
PyJWT
pytz
requests
selenium
sqlparse
coverage
