asgiref
beautifulsoup4
celery
numpy
Django
djangorestframework
django-allauth
django-celery-beat
django-cors-headers
dj-rest-auth
django-softdelete
django-role-permissions
djangorestframework-simplejwt
google-api-python-client
gunicorn
instagrapi
mailchimp-marketing
pandas
Pillow
pre-commit
PyJWT
pytz
redis
requests
selenium
scrapy
sqlparse
coverage
robotframework
webdriver-manager
