asgiref
beautifulsoup4
celery
numpy
Django
djangorestframework
django-allauth
django-auditlog
django-snowflake
django-celery-beat
django-snowflake
django-cors-headers
dj-rest-auth
django-softdelete
django-role-permissions
djangorestframework-simplejwt
google-api-python-client
google-auth
google-auth-oauthlib
gunicorn
instagrapi
mailchimp-marketing
openpyxl
pandas
Pillow
pre-commit
PyJWT
pytz
redis
requests
selenium
scrapy
sqlparse
coverage
robotframework
webdriver-manager
